@media screen and (min-width:769px) {
    .table-responsive {
        overflow-x: hidden !important;
    }
}

@media screen and (max-width: 991px) {
    .text-xs-sm-center {
        text-align: center !important;
    }
    .change-button {
        display: none;
    }
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

.sweet-alert {
    width: 500px !important;
}

.sweet-alert h2 {
    line-height: 30px !important;
}

.sidebar .user-info {
    height: 65px!important;
    padding: 10px 15px!important;
}

.table-bordered-locker tbody tr td,
.table-bordered-locker tbody tr th {
    padding: 5px;
    border: 1px solid #eee;
}

.table-bordered-locker thead tr th {
    padding: 5px;
    border: 1px solid #eee;
}

.table-bordered-locker tfoot tr th {
    padding: 5px;
    border: 1px solid #eee;
}

.text-small {
    font-size: 14px;
    margin: 0;
}

.table-buttons {
    margin-bottom: 20px;
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    cursor: not-allowed!important;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}

a:hover {
    text-decoration: none!important;
}

.tokenfield {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #ddd;
}

.tokenfield.focus {
    border-bottom: 2px solid #1f91f3;
}

[title~="Save"] {
    background-color: #607D8B!important;
    border-color: #607D8B!important;
}

.tox .tox-button {
    border-radius: 0px!important;
}

label {
    font-weight: bold;
}