@media only screen and (min-width: 540px) and (max-width: 767px){
    .col-blog-mobile {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media only screen and (max-width: 767px){

    #heading-breadcrumbs {
        padding: 1.5rem 0!important;
    }

    #blog-post > h2, 
    .heading > h2, 
    .heading > h3,
    .h2 {
        font-size: 1.3rem!important;
    }

    .box-simple > h3, 
    .lead, 
    .home-blog-post > .text > h4,
    .blog-title-mobile {
        font-size: 0.95rem!important;
    }

    .author-category, .date-comments, p.intro {
        font-size: 0.8rem!important;
    }
}